html,
body.page-body {
    height: 100vh;
    position: relative;
}

/* Nav Toolbar */
ul.list-inline {
    margin-left: auto;
}

    ul.list-inline.toolbar-menu li {
        margin-right: 23px;
    }

.sign-out-nav .dropdown-menu {
    margin-top: 18px;
    min-width: 250px;
}
/* Override to shoehorn in EADMS content with new left nav schema @ 1024 wide*/
@media (max-width: 992px) {
    .container {
        width: 919px;
    }
}
